@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.title {
  font-size: 1.5em;
  font-family: "Ubuntu";
  text-decoration: underline;
  font-size: 3em; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../burger-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
  height: 45em;
  width: 80em;
  position: relative;
  border-radius: 1em; }
  .container .top {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap; }
    .container .top nav {
      width: 40em;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      position: sticky; }
      .container .top nav a {
        color: #ffffff; }
    .container .top .btn {
      width: 5em;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5em; }
      .container .top .btn .fa-twitter {
        color: #00aced; }
      .container .top .btn .fa-facebook-f {
        color: #3b5998; }
  .container .middle {
    height: 80%;
    overflow: auto; }
  .container .title {
    margin: .5em auto;
    display: flex;
    justify-content: center; }
  .container h1 {
    margin-bottom: 0;
    margin-left: 1em;
    text-decoration: underline;
    font-family: "Ubuntu"; }
  .container h2 {
    display: flex;
    justify-content: center; }
  .container h3 {
    margin-bottom: 0;
    margin-left: 2em;
    font-family: "Ubuntu"; }
  .container p {
    margin: 1em 5em;
    font-family: "Ubuntu"; }
  .container span {
    display: flex;
    text-align: center;
    margin: 3em auto;
    width: 25em; }
  .container img {
    width: 100%; }
  .container footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2em;
    flex-wrap: wrap; }
  .container a {
    font-family: "Ubuntu";
    font-size: 1.5em;
    text-decoration: none;
    color: #545454; }

a:hover {
  text-decoration: underline;
  color: #545454; }
