@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  background-color: #ffffff;
  height: 35em;
  width: 50em;
  position: relative;
  border-radius: 1em; }
  .container .top {
    display: flex;
    justify-content: space-between;
    margin-top: 1em; }
    .container .top nav {
      width: 30em;
      display: flex;
      justify-content: space-evenly; }
    .container .top .btn {
      width: 4em;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5em; }
      .container .top .btn .fa-twitter {
        color: #00aced; }
      .container .top .btn .fa-facebook-f {
        color: #3b5998; }
  .container .bottom {
    width: 40em;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2em;
    left: 6em; }
  .container a {
    font-family: "Ubuntu";
    font-size: 1.5em;
    text-decoration: none; }
