@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.title {
  font-size: 1.5em;
  font-family: "Ubuntu";
  text-decoration: underline;
  font-size: 3em; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../burger-hero.jpg");
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
  height: 35em;
  width: 50em;
  position: relative;
  border-radius: 1em; }
  .container .top {
    display: flex;
    justify-content: space-between;
    margin-top: 1em; }
    .container .top nav {
      width: 40em;
      display: flex;
      justify-content: space-evenly; }
      .container .top nav a {
        color: #ffffff; }
    .container .top .btn {
      width: 5em;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5em; }
      .container .top .btn .fa-twitter {
        color: #00aced; }
      .container .top .btn .fa-facebook-f {
        color: #3b5998; }
  .container .title {
    margin: .5em auto;
    display: flex;
    justify-content: center; }
  .container h2 {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    font-family: "Ubuntu"; }
  .container h4 {
    margin-bottom: 0;
    font-family: "Ubuntu"; }
  .container p {
    margin: 0;
    font-family: "Ubuntu"; }
  .container img {
    width: 50em;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .bottom {
    width: 45em;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2em;
    left: 1.5em; }
  .container a {
    font-family: "Ubuntu";
    font-size: 1.5em;
    text-decoration: none;
    color: #545454; }
