@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$bcolor: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
$myfont: "Ubuntu";
$fsize: 1.5em;

@mixin menuheaders(){
  font-size: $fsize;
  font-family: $myfont;
  text-decoration: underline;
}
.title{
  @include menuheaders();
  font-size: 3em;
}

html{
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../burger-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: $bcolor;
  height: 45em;
  width: 80em;
  position: relative;
  border-radius: 1em;

  .top{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap;

    nav{
      width: 40em;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      position: sticky;

      a{
        color: #ffffff;
      }
    }

    .btn{
      width: 5em;
      display: flex;
      justify-content: space-evenly;
      font-size: $fsize;

      .fa-twitter{
        color: #00aced;
      }

      .fa-facebook-f{
        color: #3b5998;
      }
    }
  }

  .middle{
    height: 80%;
    overflow: auto;
  }

  .title{
    margin: .5em auto;
    display: flex;
    justify-content: center;
  }

  h1{
    margin-bottom: 0;
    margin-left: 1em;
    text-decoration: underline;
    font-family: $myfont;
  }

  h2{
    display: flex;
    justify-content: center;
  }

  h3{
    margin-bottom: 0;
    margin-left: 2em;
    font-family: $myfont;
  }

  p{
    margin: 1em 3em;
    font-family: $myfont;
  }

  span{
    display: flex;
    text-align: center;
    margin: 3em auto;
    width: 25em;
  }

  img{
    width: 100%;
  }

  footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2em;
    flex-wrap: wrap;
  }

  a{
    font-family: $myfont;
    font-size: $fsize;
    text-decoration: none;
    color: #545454;
  }
}