@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$myfont: "Ubuntu";
$fsize: 1.5em;

html{
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #ffffff;
  height: 35em;
  width: 50em;
  position: relative;

  .top{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    nav{
      width: 30em;
      display: flex;
      justify-content: space-evenly;
    }

    .btn{
      width: 4em;
      display: flex;
      justify-content: space-evenly;
      font-size: $fsize;

      .fa-twitter{
        color: #00aced;
      }
      .fa-facebook-f{
        color: #3b5998;
      }
    }
  }

  .bottom{
    width: 40em;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2em;
    left: 6em;
  }
  a{
    font-family: $myfont;
    font-size: $fsize;
  }
}